:root{
  /* Paleta de colores */
  --rosaBG: #FFF7FE;
  --grisBG: #F4F4F4;
  --rosaPalo: #B4858D;
  --gris: #707070;
  --verde: #9EB5A8;
}

a{
  text-decoration: none;
  color: var(--rosaPalo);
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--rosaBG);
}

figure{
  margin:0;
  padding: 0;
}

h1{
  margin: 20px 0;
  font-size: 100px;
  font-weight: 700;
  color: black;
}

h2{
  font-weight: bold;
  margin: 5px 0;
  color: var(--gris);
  font-size: 75px;
}

h3{
  margin: 5px 0;
  color: black;
  font-weight: 700;
  font-size: 35px;
}

h4{
  display: inline;
  margin-left: 20px;
  font-size: 18px;
  color: var(--gris);
  font-weight: 400;
}

p{
  color: var(--gris);
  font-size: 24px;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  color: var(--rosaPalo);
  background-color: var(--grisBG);
  font-size: 20px;
  font-weight: 700;
  z-index: 200;
  opacity: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_icon{
  margin-left: 30px;
}

.navbar_menu{
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

li {
  padding-left: 48px;
  list-style: none;
  cursor: pointer;
}
li:hover{
  color: black;
}

.cover{
  height: 100vh; /*754px;*/
  display: flex;
  overflow: hidden;
}
.cover_image_wrap,.cover_img{
  z-index: 20;
  height: inherit;
}

.cover_detail_text{
  text-align: right;
  margin-right: 80px;
}

.cover_details{
  width: 1173px;
  margin-left: -360px;
  background-image: url(../img/iam.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.cover_name{
  color: var(--rosaPalo);
}

.introduce{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 107px 197px;
}
.introduce_img img{
  width: 550px;
}
.introduce_text{
  margin-left: 100px;
}

.story{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 70px;
}
.story_text{
  margin: 20px 50px;
}
.story_img img{
  width: 600px;
}
.story_social{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.story_social > div > img{
  width: 42px;
}
.story_social > div{
  display: flex;
  align-items: center;
}
